*
!.gitignore
!home/
!home/nanopi-neo/
!home/nanopi-neo/.setup/
!home/nanopi-neo/.setup/lan.sh
!home/nanopi-neo/.setup/lib.sh
!home/nanopi-neo/.setup/wap.sh
!etc/
!etc/dhcpd.conf
!etc/fstab
!etc/group
!etc/hostapd.conf
!etc/ifconfig.urtwn0
!etc/master.passwd
!etc/motd
!etc/mygate
!etc/passwd
!etc/rc.conf
!etc/rc.d/
!etc/rc.d/cleanup
!etc/resolv.conf
!etc/wpa_supplicant.conf
!root/
!root/.login
!root/.profile
!root/.shrc
!README.md
