*
!.gitignore
!etc/
!etc/dhcpd.conf
!etc/fstab
!etc/hostapd.conf
!etc/ifconfig.urtwn0
!etc/motd
!etc/mygate
!etc/rc.conf
!etc/rc.d/
!etc/rc.d/cleanup
!etc/resolv.conf
!etc/wpa_supplicant.conf
!root/
!root/.login
!root/.profile
!root/.shrc
!README.md
